<a class="navbar navbar-dark bg-primary" variant="dark" href="/">
  <a class="navbar-brand"> Microsoft Identity Platform </a>
  <a>
    @if (loginDisplay) {
    <button class="btn btn-secondary" (click)="logout()">Sign Out</button>

    } @else {
    <button class="btn btn-secondary" (click)="login()">Sign In</button>

    }
  </a>
</a>
<a class="profileButton">
  @if (loginDisplay) {
  <a [routerLink]="['/profile']" class="btn btn-secondary">View Profile</a>

  }
</a>
<div class="container">
  <router-outlet></router-outlet>
</div>
